{% extends 'layout/app.twig' %}

{% block content %}
      <div class="overlay--1">
        <div class="wrapper--cover">
          <!-- mobile circolar img -->
          <img class="img--circle" src="/assets/img/gioele-bernardi-photo-white-bg.jpg" alt="gioele bernardi online marketer, front-end e back-end developer">

          <!-- main title -->
          <div>
            <h1>Online marketer, front-end e back-end developer</h1>
            <hr>
            <h2 class="title--background">gioele bernardi</h2>
          </div>

          <!-- button down -->
          <a class="arrow--down btn margin-top--lg" href="javascript:void(0)">Scopri di più</a>

        </div>
      </div><!-- overlay-1 -->

      <div class="overlay--2"></div>
{% endblock %}
{% block nav %}{% endblock %}
