{% extends 'layout/app.twig' %}

{% block content %}
<div class="row">
  <div class="big col-xs-12 col-md-8">
    <p>Adoro la programmazione e conosco diversi linguaggi.</p>
    <p>Sono autonomo nella programmazione Javascript, PHP e SQL e ho realizzato già diversi progetti. Ho anche familiarit&agrave; con il workflow di node.js e i principali framework PHP (Laravel e Slim).</p>
    <p>Le mie altre competenze sono: Marketing (Branding e Posizionamento), Social Media Management, Ads (Facebook Ads e Google Ads), Design (Photoshop e Illustrator) e Montaggio Video.</p>
  </div>
  <div class="first-xs last-md col-xs-12 col-md-4">
    <img src="assets/img/foto-gioele-bernardi.jpg" alt="gioele bernardi online marketer, front-end e back-end developer">
  </div>
</div>
{% endblock %}
