{% extends 'layout/app.twig' %}

{% block content %}
<h2>gioelebernardi.it</h2>
<p>Gioele Bernardi (titolare del sito) affianca costantemente il trattamento dei dati degli interessati alla sicurezza, l’integrità e la riservatezza degli stessi, adoperandosi perché i dati siano trattati in modo lecito, corretto e trasparente.</p>
<p>Gioele Bernardi (titolare del sito) tratta i dati personali per conto e su indicazione dei propri clienti e quindi riveste il ruolo di Responsabile del trattamento dei dati ai sensi del GDPR, articolo 4 comma 8. Qualora, sempre su indicazione del cliente, Gioele Bernardi (titolare del sito) compartecipi alla scelta della finalità o, più frequentemente, dei mezzi di trattamento dei dati personali, Gioele Bernardi (titolare del sito) riveste il ruolo di contitolare del trattamento dei dati, ai sensi del GDPR, articolo 4 comma 7 e articolo 26.</p>
<p>I dati personali vengono trattati solo in modo lecito, quindi o ne viene chiesto il consenso esplicito all’interessato (direttamente o a cura del principale contitolare del trattamento) o vengono trattati per perseguire il legittimo interesse del titolare principale del trattamento dei dati a condizione che questi interessi non pregiudichino i diritti e le libertà dell’interessato.</p>
<p>Il luogo in cui avviene il trattamento dei dati personali è fisicamente all’interno dell’Unione Europea.</p>
<p>La presente Informativa sul trattamento dei dati e la privacy si applica a tutti i nostri servizi, salvo diversamente specificato. Sono in particolare esclusi da questa informativa tutti i casi in cui il cliente trasmette a Gioele Bernardi (titolare del sito) il solo elemento di pseudonimizzazione (come definito successivamente), senza che venga fornita alcuna informazione per risalire all’interessato, in quanto il caso è espressamente escluso dal Regolamento sulla Protezione dei Dati (salvo il fatto che Gioele Bernardi (titolare del sito) si adopera perché i dati siano sicuri, integri e riservati a prescindere).</p>
<h3>Definizioni</h3>
<p><u>GDPR</u>: General Data Protection Regulament (Regolamento Generale dei Dati Personali) è il Regolamento 2016/679 del Parlamento europeo e del Consiglio relativo alla protezione delle persone fisiche con riguardo al trattamento dei dati personali, nonché alla libera circolazione di tali dati.</p>
<p><u>Dispositivo di teletrasmissione e/o di telerilevamento</u>: in questo contesto, apparato che raccoglie i dati relativi ad un oggetto o una persona o un animale (normalmente da monitorare) e che li trasmette alla nostra piattaforma (vedi definizione in seguito) che li elabora per erogare i servizi oggetto del contratto stipulato con Gioele Bernardi (titolare del sito).</p>
<p><u>App</u>: applicazione utilizzata per accedere con le credenziali ai dati della piattaforma, ottimizzata per dispositivi portatili quali smartphone o tablet.</p>
<p><u>Interfaccia web</u> (talvolta anche detto Portale di accesso alla piattaforma da web/Internet/browser): pagina di Internet che permette l’accesso ai servizi messi a disposizione dalla piattaforma di Gioele Bernardi (titolare del sito) tramite inserimento delle proprie credenziali in un’apposita pagina di un browser.</p>
<p><u>Attività</u>: qualsiasi azione/operazione che avvenga nella piattaforma, e come tale va intesa in esclusivo riferimento/relazione alla piattaforma e comporti accesso o potenziale accesso ai dati personali. Lo scopo dei sistemi di protezione messi in atto da Gioele Bernardi (titolare del sito) è che tutte le attività avvengano ai soli scopi previsti dai servizi di Gioele Bernardi (titolare del sito) da parte di utenti autorizzati e di bloccare qualsiasi azione che non ha questo fine e arrivi da utenti privi di titolo/autorizzazione per accedere.</p>
<p>Costituiscono parte integrante delle definizioni quelle scritte nel GDPR, in particolare: <u>dati personali</u> e <u>interessato</u> (art. 4 comma 1), <u>trattamento</u> (art. 4 comma 2), <u>profilazione</u> (art. 4, comma 4), <u>pseudonimizzazione</u> (art. 4 comma 5), <u>archivio</u> (di seguito anche <u>database</u> o <u>banca dati</u> art. 4 comma 6), <u>titolare del trattamento</u> (art. 4 comma 7) e <u>contitolare</u> (art. 26), <u>responsabile del trattamento</u> (art. 4 comma 8), <u>Responsabile della protezione dei dati</u> (Sezione 5), <u>terzo</u> (art. 4 comma 10), <u>consenso dell’interessato</u> (art. 4 comma 11).</p>
<h3>Informazioni raccolte</h3>
<p>Gioele Bernardi (titolare del sito) riceve o raccoglie informazioni quando l&#8217;utente o l’organizzazione installa dispositivi di teletrasmissione su oggetti mobili e non (persone, animali), quando utilizza tali oggetti, fino a quando non li disattiva, temporaneamente o definitivamente. Oltre a questo, Gioele Bernardi (titolare del sito) riceve o raccoglie informazioni quando un utente accede tramite applicazioni ai servizi messi a disposizione in Internet da Gioele Bernardi (titolare del sito), raccogliendoli per rendere disponibili, fornire, migliorare, comprendere, personalizzare, supportare e (solo su esplicita conferma dell’interessato) commercializzare i propri servizi.</p>
<p>Il tipo di informazioni che riceviamo e raccogliamo dipende dallo specifico servizio attivato.</p>
<p><strong>Informazioni fornite dall&#8217;utente</strong></p>
<ul>
<li>Informazioni sull&#8217;account dell&#8217;utente. L&#8217;utente potrebbe fornire, se concordato, il proprio nome e cognome, la mail, il proprio numero di cellulare, l’identificativo di un riconoscitore personale elettronico (come i badge) ed altri dati, sempre dipendenti dal servizio attivato e da accordi con il contitolare.</li>
<li>Messaggi dell&#8217;utente. Gioele Bernardi (titolare del sito) potrebbe raccogliere le mail inviate dall’utente ai servizi di assistenza al solo scopo di soddisfare la richiesta dell’utente ed eventualmente creare statistiche del tipo di problemi o suggerimenti per migliorare i servizi offerti.</li>
<li>Il cliente fornisce a Gioele Bernardi (titolare del sito) tutti i dati che permettono di gestire i pagamenti del servizio e le relative competenze fiscali, anche quando riguardino un cliente di tipo persona fisica. Per tali dati si applicheranno le norme di fiscalità dello stato italiano, per cui i dati rimarranno negli archivi, una volta accettato il servizio, secondo tale normativa prevalente. Gioele Bernardi (titolare del sito) potrebbe raccogliere anche nominativi, e-mail, recapiti telefonici e cellulari di contatto di tipo amministrativo per facilitare lo svolgimento delle pratiche. Per alcuni servizi, Gioele Bernardi (titolare del sito) può attivare in accordo con il cliente forme di pagamento online che richiedono la memorizzazione di un token di carta di credito (si veda nelle definizioni). Solo ed esclusivamente su richiesta esplicita del Titolare del trattamento dei dati (di cui Gioele Bernardi (titolare del sito) è un contitolare), Gioele Bernardi (titolare del sito) trasmette a società ed Enti finanziari terzi i dati per la fatturazione.</li>
</ul>
<p><strong>Informazioni raccolte automaticamente</strong></p>
<ul>
<li>Informazioni di uso e di accesso.La piattaforma di Gioele Bernardi (titolare del sito) raccoglie informazioni relative all&#8217;attività dell&#8217;utente sui servizi che offre, come quelle sull&#8217;utilizzo, sulla diagnostica e sulle prestazioni. Ciò comprende informazioni sull&#8217;attività dell&#8217;utente (tra cui la modalità di utilizzo dei nostri servizi, le impostazioni dei servizi, la modalità di interazione con gli altri attraverso i nostri servizi, oltre agli orari, alla frequenza e alla durata delle attività e delle interazioni), file di registro e report relativi a diagnostica, arresti anomali, sito web e prestazioni. Sono inoltre comprese informazioni sul momento in cui l&#8217;utente ha effettuato la registrazione per l&#8217;utilizzo dei nostri servizi, le funzioni che vengono usate, quando ha usato per l&#8217;ultima volta i nostri servizi (&#8220;ultimo accesso&#8221;) e su quando ha aggiornato le informazioni personali per l&#8217;ultima volta.</li>
<li>Gioele Bernardi (titolare del sito) utilizza i cookie nei suoi servizi web per rendere disponibili e fornire i servizi, nonché per offrirli sul web, per migliorare l&#8217;esperienza dell&#8217;utente, per capire come vengono utilizzati i servizi e per personalizzarli. Utilizza i cookie anche per ricordare le scelte dell&#8217;utente, come le preferenze relative alla lingua, per fornire un&#8217;esperienza più sicura e per personalizzare i servizi offerti all&#8217;utente.</li>
</ul>

<h3>Modalità di utilizzo delle informazioni da parte di Gioele Bernardi (titolare del sito)</h3>
<p>Gioele Bernardi (titolare del sito) utilizza le informazioni a sua disposizione (soggette alle scelte dell&#8217;utente) per questi scopi e con queste modalità:</p>
<ul>
<li><strong>Servizi di Gioele Bernardi (titolare del sito)</strong>.Gioele Bernardi (titolare del sito) usa le informazioni a sua disposizione per rendere disponibili ed erogare i propri servizi, fornendo assistenza clienti e migliorando, risolvendo problemi e personalizzando servizi. Gioele Bernardi (titolare del sito) comprende la modalità di utilizzo dei propri servizi da parte delle persone e le analizza per valutare e migliorare i servizi stessi, sviluppare e verificare nuovi servizi e funzioni e individuare e risolvere i problemi. Le informazioni vengono inoltre usate per fornire una risposta quando l&#8217;utente contatta Gioele Bernardi (titolare del sito).</li>
<li><strong>Protezione e sicurezza</strong>.Gioele Bernardi (titolare del sito) verifica gli account e le attività e promuove la sicurezza e la protezione all&#8217;interno e all&#8217;esterno dei servizi, ad esempio analizzando le attività sospette, per assicurare l&#8217;utilizzo conforme alla legge dei servizi.</li>
<li><strong>Nessun banner pubblicitario di terzi</strong>.Non consentiamo banner pubblicitari di terzi sulle nostre applicazioni. Non abbiamo intenzione di adottarli, ma, se mai lo faremo, aggiorneremo la presente Informativa.</li>
</ul>
<h3>Informazioni condivise tra Gioele Bernardi (titolare del sito) e gli utenti e/o clienti</h3>
<p>Solo per contratti stipulati ad hoc, Gioele Bernardi (titolare del sito)  non integra i propri servizi, condividendo con i clienti informazioni riguardo ai loro ERP e/o CRM (o a banche dati). Salvo casi particolari e su richiesta esplicita, Gioele Bernardi (titolare del sito) non accede ai dati esterni, ma può inviarli ai citati ERP e/o CRM.</p>
<h3>Applicazione del Regolamento generale sulla protezione dei dati (GDPR) agli utenti della Regione europea</h3>
<p><strong>Basi legali per il trattamento dei dati</strong></p>
<p>Gioele Bernardi (titolare del sito) raccoglie, utilizza e tratta le informazioni a sua disposizione come descritto in precedenza:</p>
<ul>
<li>secondo necessità per rispettare i nostri termini contrattuali e di erogazione del servizio;</li>
<li>in conformità con il consenso dell&#8217;utente, revocabile in qualsiasi momento;</li>
<li>secondo necessità per rispettare i nostri obblighi legali e comunque su richiesta delle Autorità;</li>
<li>secondo necessità per i legittimi interessi (anche di terzi), fra cui l’importanza che diamo all’erogazione di un servizio innovativo, pertinente, sicuro e remunerativo per i nostri clienti e partner. Ciò è escluso quando su tali interessi prevalgano diritti, soggettivi o meno, e libertà personali che richiedono la protezione dei dati personali.</li>
</ul>
<p><strong>Modalità di esercizio dei diritti dell&#8217;interessato</strong></p>
<p>Ai sensi del Regolamento generale sulla protezione dei dati (GDPR), l&#8217;interessato ha il diritto di accedere, rettificare, trasferire e cancellare le proprie informazioni e il diritto di limitare e opporsi a determinati tipi di trattamento delle informazioni. L&#8217;interessato può accedere o trasferire le proprie informazioni tramite una semplice richiesta alla società tramite mail all’indirizzo <a href="mailto:info@gioelebernardi.it">info@gioelebernardi.it</a>. Tale richiesta verrà soddisfatta nei tempi tecnici possibili e comunque non oltre 90 giorni dalla ricezione della richiesta. A seconda dei permessi concessi al suo account utente, l&#8217;interessato che si accorga che i propri dati sono errati può:</p>
<ol>
<li>correggerle direttamente dalla piattaforma;</li>
<li>inviare una e-mail all’indirizzo <a href="mailto:info@gioelebernardi.it">info@gioelebernardi.it</a>, motivando la richiesta e specificando la propria titolarità.</li>
</ol>
<p>Se stiamo trattando le informazioni dell&#8217;utente in base agli interessi legittimi di un contitolare dei dati personali, l&#8217;interessato può opporsi a tale trattamento. In tal caso, interromperemo il trattamento di quei dati personali, a meno che non sia basato su validi motivi legittimi o sia necessario per motivi legali (art. 6, comma 1 lettere da a) ad e)).</p>
<h3>Gestione ed eliminazione delle informazioni dell&#8217;utente</h3>
<p>Memorizziamo le informazioni finché è necessario per fornire i nostri servizi o finché l&#8217;account non viene eliminato, in base alla situazione che si verifica per prima. Si tratta di una determinazione caso per caso che varia in base a elementi come natura delle informazioni, motivo per cui vengono raccolte e trattate ed esigenze di conservazione legali oppure operative pertinenti.</p>
<p>Se l&#8217;utente desidera gestire, modificare, limitare o eliminare le proprie informazioni, può farlo come descritto in precedenza.</p>
<h3>Legge e protezione</h3>
<p>Gioele Bernardi (titolare del sito) può raccogliere, utilizzare, conservare e condividere le informazioni dell&#8217;utente qualora ritenesse in buona fede che ciò sia ragionevolmente necessario per: (a) rispondere, ai sensi della legge o dei regolamenti applicabili, a procedimenti legali o a richieste governative o di Autorità Pubbliche; (b) applicare i nostri Termini e/o altre condizioni e informative applicabili, anche a scopo di analisi di potenziali violazioni; (c) individuare, analizzare, prevenire e gestire frodi e altre attività illegali o problemi tecnici o di falle di sicurezza; (d) proteggere i diritti, la proprietà e la sicurezza degli utenti, di Gioele Bernardi (titolare del sito) o di terzi, ivi compreso prevenire eventi che possano determinare danni fisici imminenti o decesso.</p>
<h3>Operazioni a livello globale</h3>
<p>Gioele Bernardi (titolare del sito) condivide con fornitori terzi le sole informazioni necessarie per il supporto e la sicurezza nel rispetto della presente Informativa sulla privacy. Le informazioni controllate di Gioele Bernardi (titolare del sito) sono residenti esclusivamente nel territorio dell’Unione Europea, ma essendo accessibili, pur in totale sicurezza, da Internet, possono essere visibili al di fuori dalla nazione in cui l&#8217;utente risiede, sempre per gli scopi descritti nella presente Informativa. I dati trasferiti sono necessari per erogare i servizi descritti nei nostri Termini e per gestire ed offrire a livello globale i nostri servizi. Gioele Bernardi (titolare del sito) si avvale saltuariamente di fornitori che risiedono all’esterno dell’Unione Europea, ma su nazioni che hanno concluso con l’Unione accordi di uniformità della propria legislazione con quella dell’Unione a riguardo delle politiche di sicurezza e di protezione dei dati.</p>
<h3>Aggiornamenti all&#8217;informativa</h3>
<p>L&#8217;utente verrà informato prima di eventuali modifiche alla presente Informativa sulla privacy e potrà leggerne la versione modificata prima di scegliere di continuare a usare i nostri servizi.</p>
<h3>Informazioni di contatto</h3>
<p>Per qualsiasi domanda sull&#8217;Informativa sulla privacy, è possibile scrivere a:</p>
<p>&nbsp;</p>
<p>Gioele Bernardi</p>
<p>c.a.: Informativa sulla privacy</p>
<p>via monte vettore, 39</p>
<p>I – 60131 ancona (AN)</p>
<p>Italia</p>
<p><a href="mailto:info@gioelebernardi.it">info@gioelebernardi.it</a>
<p>Si ha anche il diritto di presentare un reclamo presso l&#8217;Autorità Garante per la privacy italiana o presso l&#8217;autorità di controllo locale.</p>
<h3>Modalità di trattamento delle informazioni da parte di Gioele Bernardi (titolare del sito)</h3>
<p>Ai sensi della legge europea, le aziende devono disporre di una base legale per trattare i dati. I particolari diritti di cui l&#8217;utente dispone variano a seconda della base legale in uso, come spiegato di seguito. Indipendentemente dalla base legale applicata, l&#8217;utente gode sempre e comunque del diritto di richiedere l&#8217;accesso, la rettifica e l&#8217;eliminazione dei propri dati ai sensi del GDPR. Per esercitare i propri diritti, si prega di consultare la presente alla sezione “Modalità di esercizio dei diritti dell’utente”.</p>
<p>Per tutte le persone che dispongono della capacità giuridica di concludere validamente i contratti, trattiamo i dati secondo necessità per l&#8217;adempimento degli stessi (alle condizioni dette anche &#8220;Termini&#8221;). Illustriamo i servizi contrattuali per cui è necessario il trattamento dei dati nelle “Condizioni e/o Termini dei Contratti” e relativi Allegati. Per fornire i nostri servizi contrattuali, abbiamo bisogno dei dati principalmente per i seguenti scopi:</p>
<ul>
<li>Fornire, migliorare, personalizzare e supportare i nostri servizi, come descritto supra;</li>
<li>Garantire protezione e sicurezza;</li>
<li>Comunicare con l&#8217;utente, ad esempio riguardo segnalazioni correlate al servizio.</li>
</ul>
<p>Questi usi vengono illustrati in maggiore dettaglio nella nostra Informativa sulla privacy alla sezione Modalità di utilizzo delle informazioni da parte di Gioele Bernardi (titolare del sito) e alla sezione Operazioni a livello globale. Useremo i dati in nostro possesso per fornire questi servizi; se l&#8217;utente sceglie di non fornire determinati dati, questo potrebbe influire sulla qualità della sua esperienza nell&#8217;uso dei servizi di Gioele Bernardi (titolare del sito).</p>
<p><em>Quando trattiamo i dati che l&#8217;utente ci fornisce per l&#8217;adempimento dei contratti, questi gode del diritto di trasmetterli ai sensi del GDPR. Per esercitare i propri diritti, si prega di consultare la sezione </em><em>Modalità di esercizio dei diritti dell&#8217;utente</em><em> dell&#8217;Informativa sulla privacy.</em></p>
<p>Di seguito sono indicate le altre basi legali di cui ci serviamo in determinati casi di trattamento dei dati dell&#8217;utente.</p>
<p><strong>Il consenso dell&#8217;utente:</strong></p>
<ul>
<li>Per la raccolta e l&#8217;utilizzo di informazioni che l&#8217;utente ci consente di ricevere attraverso le impostazioni del dispositivo attivate (principalmente l’accesso a posizione GPS ed eventualmente informazioni sui parametri del veicolo (se tale è l’oggetto tele-rilevato) o altri parametri specifici dell’oggetto che ne descrivono il funzionamento, in modo da potergli offrire le funzioni ed i servizi quando attiva le impostazioni.</li>
</ul>
<p><em>Quando trattiamo i dati che l&#8217;utente ci fornisce con il suo consenso, questi gode del diritto di revocare io stesso in qualsiasi momento e di trasmettere a terzi i dati forniti, ai sensi del GDPR. Per esercitare i propri diritti, l&#8217;utente può accedere alle impostazioni del dispositivo, ed in ogni caso scrivere all’indirizzo e-mail </em><a href="mailto:info@gioelebernardi.it"><em>info@gioelebernardi.it</em></a><em>. </em></p>
<p>Gioele Bernardi (titolare del sito) stipula contratti solo con persone che hanno raggiunto la maggiore età (anni 18 o più, nella maggior parte dei Paesi UE). Tuttavia, qualora a nostra insaputa si raccogliessero dati relativi ad un minorenne, è nostro legittimo interesse svolgere tutte le operazioni come descritte in “i nostri servizi”;</p>
<p><strong>Il trattamento in questione si basa sui seguenti interessi legittimi:</strong></p>
<ul>
<li>Proteggere la nostra piattaforma e la nostra rete, verificare account e attività, combattere le condotte dannose, indagare su attività sospette o violazioni dei nostri termini.</li>
<li>Fornire report precisi e affidabili alle aziende e agli altri partner per garantire prezzi e statistiche accurati sulle prestazioni e per dimostrare il valore che i nostri partner ottengono usando i nostri servizi;</li>
<li>Nell&#8217;interesse delle aziende e degli altri partner, aiutarli a comprendere i loro clienti e migliorare le proprie attività, convalidare i nostri modelli di prezzo, valutare l&#8217;efficienza e la distribuzione dei servizi e capire come le persone interagiscono con loro sui nostri servizi.</li>
<li>Condividere informazioni con altri, comprese le forze dell&#8217;ordine, e per rispondere a richieste legali.Si prega di consultare la nostra Informativa sulla privacy alla sezione Legge e protezione per maggiori informazioni.<br />
Gli scopi di tale trattamento comprendono:</li>
<li>L&#8217;offerta di misurazioni, dati statistici (senza mai riferimenti al singolo interessato) e altri servizi nel caso in cui trattiamo i dati in qualità di Titolare.</li>
</ul>
<p><em>L&#8217;utente gode del diritto di opporsi e limitare tale trattamento. Per esercitare i propri diritti, si prega di consultare la sezione </em><em>Modalità di esercizio dei diritti dell&#8217;utente</em><em> dell&#8217;Informativa sulla privacy.</em></p>
<p>Prenderemo in considerazione diversi fattori nella valutazione delle obiezioni, fra cui: aspettative ragionevoli degli utenti, vantaggi e rischi per l&#8217;utente, noi, altri utenti o terzi e altri mezzi disponibili per raggiungere lo stesso scopo che potrebbero essere meno invasivi e non richiedere sforzi sproporzionati. Le obiezioni dell&#8217;utente verranno accolte e cesseremo di trattare le sue informazioni, salvo che la continuazione del trattamento sia basata su validi motivi legittimi o sia necessaria per motivi legali.</p>
<p><strong>Per conformità con un obbligo legale si intende:</strong></p>
<ul>
<li>Il trattamento dei dati nei casi previsti dalla legge, fra cui, ad esempio, in presenza di una valida richiesta legale per determinati dati. Si prega di consultare la nostra Informativa sulla privacy alla sezione Legge e protezioneper maggiori informazioni.</li>
</ul>
<p><strong>Per protezione dei nostri interessi vitali o di quelli di altre persone si intendono:</strong></p>
<ul>
<li>Gli interessi vitali su cui ci basiamo per questo trattamento, che comprendono la protezione della vita o dell&#8217;integrità fisica dell&#8217;utente o quella degli altri. Ci basiamo su essi per combattere comportamenti illegittimi e promuovere protezione e sicurezza, ad esempio nei casi in cui indaghiamo sulle segnalazioni di comportamenti dannosi o quando qualcuno ha bisogno di aiuto.</li>
</ul>
<p><strong>Per attività eseguite nel pubblico interesse si intende ogni azione volta a:</strong></p>
<ul>
<li>intraprendere ricerche e per promuovere sicurezza e protezione come descritto in dettaglio nella nostra Informativa sulla privacy alla sezione Modalità di utilizzo delle informazioni da parte di Gioele Bernardi (titolare del sito), nei casi in cui ciò sia necessario per il pubblico interesse, come previsto dal diritto dell&#8217;Unione europea o dello Stato membro a cui siamo soggetti.</li>
</ul>
<p><em>Quando trattiamo i dati secondo necessità per attività eseguite nel pubblico interesse, l&#8217;utente gode del diritto di opporsi e di chiedere limitazioni al nostro trattamento. Per esercitare i propri diritti, si prega di consultare la sezione </em><em>Modalità di esercizio dei diritti dell&#8217;utente</em><em> dell&#8217;Informativa sulla privacy. </em></p>
<h3>Cookie</h3>
<p><strong>Info sui cookie</strong></p>
<p>Un cookie è un piccolo file di testo. I siti web chiedono al browser di memorizzare i cookie sul computer o sul dispositivo mobile.</p>
<p><strong>Come utilizziamo i cookie</strong></p>
<p>Utilizziamo i cookie per capire, assicurare, operare, e fornire i nostri servizi via web. Ad esempio, utilizziamo i cookie:</p>
<ul>
<li>Per individuare ciascuna sessione utente fino alla sua disconnessione, senza alcun riferimento al dispositivo di provenienza, nome, relazione con i dati letti, raccolti o trattati.</li>
<li>per far capire a Gioele Bernardi (titolare del sito) come vengono utilizzati i nostri servizi, e personalizzarli; in particolare analizzare le funzioni più utilizzate globalmente dagli utenti e migliorare ed ottimizzare l’esperienza.</li>
</ul>
<p><strong> </strong><strong>Come controllare i cookie</strong></p>
<p>Basta seguire le istruzioni fornite dal browser o dal dispositivo (di solito si trovano in &#8220;Impostazioni&#8221; o &#8220;Preferenze&#8221;) per modificare le impostazioni dei cookie. Considerare che impostando la disattivazione dei cookie nel browser o nel dispositivo, alcuni dei nostri servizi potrebbero non funzionare correttamente o completamente.</p>
<p><strong>Utilizzo dei cookie nel sito di Gioele Bernardi (titolare del sito)</strong></p>
<p>Diversamente da quanto avviene nelle App e nell’Interfaccia web, per visualizzare l’utilizzo dei cookie sul sito istituzionale di Gioele Bernardi (titolare del sito) vai alla pagina:</p>
<p><a href="https://www.gioelebernardi.com/cookie-policy/">https://www.gioelebernardi.com/cookie-policy/</a></p>
<h3>Protezione e copia dei dati</h3>
<p>I dati personali dei nostri utenti sono memorizzati nei database utilizzando algoritmi di cifratura in linea con i massimi gradi di protezione presenti nel mercato. L’accesso dei dati dalla piattaforma avviene esclusivamente attraverso siti https con certificato accreditato dai principali browser del mercato.</p>
<p>L’accesso diretto ai dati dal database è interdetto agli utenti ed avviene in modo cifrato da parte degli operatori di manutenzione e di assistenza, quando questi non accedono localmente.</p>
<p>I dati inviati dai nostri dispositivi utilizzano esclusivamente APN dedicati e nel tratto di trasmissione dall’APN ai server vengono criptati.</p>
<p>I server sono protetti dai più moderni sistemi di protezione in rete e periodicamente aggiornati.</p>
<p>Gli accessi vengono registrati e parallelamente vengono utilizzati servizi che monitorizzano attività non autorizzate e falle alla sicurezza (data breach).</p>
<p>I dati vengono ridondati. In caso gli interessati volessero esercitare il diritto all’oblio, i dati personali verranno cancellati anche dai back-up e dai log dopo un tempo massimo di 180 giorni, salvo diversi accordi contrattuali.</p>
{% endblock %}
{% block nav %}{% endblock %}
